<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        自动化测试
        <small>用例结果查询</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">自动化测试</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!--<div class="row" ng-show="global.auth('xiaobailong-crm_admin')">-->
        <!--<div class="col-lg-12 col-xs-12">-->
            <!--<div class="box">-->
                <!--<div class="box-header with-border">-->
                    <!--<h3 class="box-title">上传模型</h3>-->

                    <!--<div class="box-tools pull-right">-->
                        <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                <!--<div class="box-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div nv-file-drop="" uploader="uploader" options="{ url: '/api/model' }">-->
                                <!--<div nv-file-over="" uploader="uploader" over-class="another-file-over-class"-->
                                     <!--class="well my-drop-zone text-center">-->
                                    <!--拖拽模型ZIP包至此区域, 只支持后缀为.zip的文件-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<h3>上传队列</h3>-->

                            <!--<p>待上传模型数量: {{ uploader.queue.length }}</p>-->

                            <!--<table class="table">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th width="50%">文件名</th>-->
                                    <!--<th ng-show="uploader.isHTML5">大小</th>-->
                                    <!--<th ng-show="uploader.isHTML5" width="10%">进度</th>-->
                                    <!--<th>Status</th>-->
                                    <!--<th>操作</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr ng-repeat="item in uploader.queue">-->
                                    <!--<td><strong>{{ item.file.name }}</strong></td>-->
                                    <!--<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }}-->
                                        <!--MB-->
                                    <!--</td>-->
                                    <!--<td ng-show="uploader.isHTML5">-->
                                        <!--<div class="progress" style="margin-bottom: 0;">-->
                                            <!--<div class="progress-bar" role="progressbar"-->
                                                 <!--ng-style="{ 'width': item.progress + '%' }"></div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td class="text-center">-->
                                        <!--<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>-->
                                        <!--<span ng-show="item.isCancel"><i-->
                                                <!--class="glyphicon glyphicon-ban-circle"></i></span>-->
                                            <!--<span ng-show="item.isError"><i-->
                                                    <!--class="glyphicon glyphicon-remove"></i></span>-->
                                    <!--</td>-->
                                    <!--<td nowrap>-->
                                        <!--<button type="button" class="btn btn-success btn-xs"-->
                                                <!--ng-click="item.upload()"-->
                                                <!--ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                            <!--<span class="glyphicon glyphicon-upload"></span> 上传-->
                                        <!--</button>-->
                                        <!--<button type="button" class="btn btn-warning btn-xs"-->
                                                <!--ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                                            <!--<span class="glyphicon glyphicon-ban-circle"></span> 取消-->
                                        <!--</button>-->
                                        <!--<button type="button" class="btn btn-danger btn-xs"-->
                                                <!--ng-click="item.remove()">-->
                                            <!--<span class="glyphicon glyphicon-trash"></span> 删除-->
                                        <!--</button>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                <!--<div class="box-footer clearfix">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->
        <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
    <div ng-class="statisticClass()">
        <h5> {{global.prompt}}</h5>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">用例结果</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" ng-click="refreshcodes()"><i class="fa fa-refresh"></i>刷新
                        </button>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-hover" style="table-layout: fixed; WORD-WRAP: break-word;">
                        <tr>
                            <th  style="width: 80px;">用例id</th>
                            <th>用例接口</th>
                            <th  style="width: 130px;">用例模块</th>
                            <th >用例脚本名</th>
                            <th style="width: 120px;">用例方法</th>
                            <th style="width: 80px;">执行结果</th>
                            <th>失败原因</th>
                            <th>执行时间</th>
                        </tr>

                        <tr ng-repeat="m in global.allcaseresults" ng-class="selectClass(m.id)">

                            <td>
                                {{ m.caseId }}
                            </td>
                            <td>
                                {{ m.requestUrl }}
                            </td>
                            <td>
                                {{ m.moduleName }}
                            </td>
                            <td>
                                {{ m.methodName }}
                            </td>
                            <td>
                                {{ m.intefaceName }}
                            </td>
                            <td ng-bind-html="m.result | caseresultalert"></td>
                            <td>
                                {{ m.reason }}
                            </td>
                            <td>{{ m.runTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                </div>
            </div><!-- /.box -->
        </div><!-- ./col -->
    </div><!-- /.row -->

    <div class="modal" id="modelDetailDialog">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{ selectModel.nameCn }} 详情</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header">
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <dl class="dl-horizontal">
                                        <dt>模型ID</dt>
                                        <dd ng-bind="selectedModel.id">加载中...</dd>
                                        <dt>模型名称</dt>
                                        <dd>{{ selectedModel.nameCn }}
                                            <small>({{ selectedModel.nameEn }})</small>
                                        </dd>
                                        <dt>提交时间</dt>
                                        <dd ng-bind="selectedModel.createTime | date : 'yyyy-MM-dd hh:mm:ss' ">
                                            加载中...
                                        </dd>
                                        <dt>开发者</dt>
                                        <dd>{{ selectedModel.author }}
                                            <small>({{ selectedModel.email }})</small>
                                        </dd>
                                        <dt>模型输出</dt>
                                        <dd>
                                            {{ selectedModel.outputTableInfo }}
                                        </dd>
                                        <dt>用户参数</dt>
                                        <dd>
                                            <table class="table table-bordered table-striped table-condensed"
                                                   style=" width: 90%;">
                                                <tr ng-repeat="k in selectedModel.userParams track by $index">
                                                    <th width="100px;">参数{{ $index+1 }}</th>
                                                    <td ng-bind="k"></td>
                                                </tr>
                                            </table>
                                        </dd>
                                    </dl>
                                    <hr>
                                    <dl>
                                        <dt>节点列表</dt>
                                        <dd>
                                            <table class="table table-bordered table-striped table-condensed"
                                                   style="table-layout: fixed; WORD-WRAP: break-word;">
                                                <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>更新时间</th>
                                                    <th style="width:200px;">英文名</th>
                                                    <th style="width:150px;">节点名</th>
                                                    <th>nodetype</th>
                                                    <th>scriptType</th>
                                                    <th>parents</th>
                                                    <th ng-show="global.auth('xiaobailong-crm_admin')"
                                                        style="width:150px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="k in selectedModel.modelNodeList">
                                                    <td>{{ k.id }}</td>
                                                    <td>{{ k.updateTime | date : 'yyyy-MM-dd hh:mm:ss' }}</td>
                                                    <td>
                                                        <div ng-show="editingNode.id != k.id">
                                                            {{ k.nameEn }}
                                                        </div>
                                                        <div class="input-group" ng-show="editingNode.id == k.id">
                                                            <input type="text" class="form-control"
                                                                   ng-model="editingNode.nameEn">
                                                            <span class="input-group-btn"></span>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div ng-show="editingNode.id != k.id">
                                                            {{ k.nameCn }}
                                                        </div>
                                                        <div class="input-group" ng-show="editingNode.id == k.id">
                                                            <input type="text" class="form-control"
                                                                   ng-model="editingNode.nameCn">
                                                            <span class="input-group-btn"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div ng-show="editingNode.id != k.id">
                                                            {{ k.nodetype }}
                                                        </div>
                                                        <div class="input-group" ng-show="editingNode.id == k.id">
                                                            <input type="text" class="form-control"
                                                                   ng-model="editingNode.nodetype">
                                                            <span class="input-group-btn"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div ng-show="editingNode.id != k.id">
                                                            {{ k.scriptType }}
                                                        </div>
                                                        <div class="input-group" ng-show="editingNode.id == k.id">
                                                            <input type="text" class="form-control"
                                                                   ng-model="editingNode.scriptType">
                                                            <span class="input-group-btn"></span>
                                                        </div>
                                                    </td>
                                                    <td style="width:150px;">
                                                        <div ng-show="editingNode.id != k.id">
                                                            {{ k.parents | trim }}
                                                        </div>
                                                        <div class="input-group" ng-show="editingNode.id == k.id">
                                                            <input type="text" class="form-control"
                                                                   ng-model="editingNode.parents">
                                                            <span class="input-group-btn"></span>
                                                        </div>
                                                    </td>
                                                    <td ng-show="global.auth('xiaobailong-crm_admin')">
                                                        <div class="btn-group">
                                                            <button ng-show="editingNode.id != k.id"
                                                                    class="btn btn-default btn-flat btn-xs"
                                                                    ng-click="editNode(k)">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button ng-show="editingNode.id == k.id"
                                                                    class="btn btn-default  btn-flat btn-xs"
                                                                    ng-click="saveNode(k.id)">
                                                                <i class="fa fa-save"></i>
                                                            </button>
                                                            <button ng-show="editingNode.id == k.id"
                                                                    class="btn btn-default  btn-flat btn-xs"
                                                                    ng-click="cancelEditNode()">
                                                                <i class="fa fa-rotate-left"></i>
                                                            </button>

                                                            <button ng-show="editingNode.id == k.id"
                                                                    class="btn btn-warning btn-flat btn-xs"
                                                                    ng-click="deleteNode(k.id)">
                                                                <i class="fa fa-remove"></i>
                                                            </button>
                                                        </div>

                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </dd>

                                    </dl>

                                </div><!-- /.box-body -->
                                <div class="overlay" ng-show="selectLoading">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div>
                                <div class="box-footer clearfix text-center">
                                    <div class="btn-group">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</section><!-- /.content -->